<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Iniciar Sesión</title>
    <link rel="stylesheet" type="text/css" href="/css/iniciarSesion.css">
</head>
<body>
    <header class="header">
        <h1 class="welcome-text">[[#{login.titulo}]]</h1>
    </header>
    
    <div class="form-wrapper">
        <div class="form-container">
            <form method="post">
                <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />
                <label for="username">[[#{login.usuario}]]</label>
                <input type="text" placeholder="user" name="username" id="username" required>

                <label for="password">[[#{login.contrasena}]]</label>
                <input type="password" name="password" id="password" placeholder="1234" required>

                <button type="submit" class="boton">[[#{login.titulo}]]</button>
            </form>
            <div th:if="${error}">
                <p th:text="${error}"></p>
            </div>
            <p th:text="#{account.already}"></p><a th:text="#{create.account}" href="/register"></a>
        </div>
    </div>
    <footer th:replace="~{plantillas/plantilla :: footer}"></footer>
</body>
</html>
